---
import '../../styles/blog.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>June Kim | june.kim</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <aside class="logo">
    <a href="/" style="position:relative;display:inline-block;">
      <img src="/images/gravatar.png" width="80" height="80" class="gravatar">
      <svg class="open-to-work-ring" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:-35px;left:-35px;width:150px;height:150px;pointer-events:none;">
        <defs>
          <path id="otw-circle" d="M 133,75 A 58,58 0 1,0 17,75 A 58,58 0 1,0 133,75" fill="none" />
        </defs>
        <text font-family="Avenir, sans-serif" font-size="11" fill="#000" fill-opacity="0.65" letter-spacing="2.5">
          <textPath href="#otw-circle" startOffset="62.5%" text-anchor="middle">open to work</textPath>
        </text>
      </svg>
    </a>
    <span class="logo-prompt">Home</span>
  </aside>

  <main class="fade-shift">
    <section>
      <h1>June Kim</h1>
      <p>Based in Vancouver, Canada. My LinkedIn says Bay Area for visibility, but I live here on the west coast of the north.</p>
      <p><a href="/hire-june">Hire June</a></p>
      <p>🄯 <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> · <a href="https://github.com/kimjune01/june.kim">Source</a></p>

      <div class="social">
        <a href="mailto:june@june.kim"><i class="fa fa-envelope fa-5x"></i></a>&nbsp;
        <a href="https://github.com/kimjune01"><i class="fa fa-github fa-5x"></i></a>&nbsp;
        <a href="https://linkedin.com/in/kimjune01"><i class="fa fa-linkedin fa-5x"></i></a>&nbsp;
        <a href="https://instagram.com/kimjune01"><i class="fa fa-instagram fa-5x"></i></a>&nbsp;
        <a href="/feed.xml"><i class="fa fa-rss fa-5x"></i></a>
      </div>
    </section>
  </main>
</body>
</html>
