---
import BlogPost from '../../layouts/BlogPost.astro';
---
<BlogPost title="resume" date={new Date('2017-06-17')} slug="resume" tags="reading">
  <p><a href="/assets/resume.pdf">PDF</a></p>
  <p><a href="/assets/resume.md">markdown</a></p>
</BlogPost>
