---
import '../styles/blog.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 | june.kim</title>
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
  <aside class="logo">
    <a href="/">
      <img src="/images/gravatar.png" width="80" height="80" class="gravatar">
    </a>
    <span class="logo-prompt">Home</span>
  </aside>

  <main class="fade-shift">
    <article>
      <div class="center"><h1>404</h1></div>
      <p>Oops!</p>
      <p><img src="https://media.giphy.com/media/V1g3v7IbTkbAI/giphy.gif" alt="gif"></p>
    </article>
  </main>
</body>
</html>
